.input-container {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0.125rem;
    color: #fff;
    display: flex;
    font-size: 14px;
    position: relative;
    padding: 8px 8px 0 8px;
    width: 100%;

    .input-label-container {
        height: 2.875rem;
        display: flex;
        flex: 1 0 0;
        margin: 0;
        min-width: 0;
        padding: 0;
        position: relative;

        &.active {
            .label {
                transform: scale(0.83333) translateY(-20px);
            }

            .input {
                font-size: 13px;
                color: var(--color);
            }
        }

        .label {
            color: #8e8e8e;
            font-size: 12px;
            height: 2.875rem;
            line-height: 2.875rem;
            overflow: hidden;
            pointer-events: none;
            position: absolute;
            text-overflow: ellipsis;
            transform-origin: left;
            transition: transform ease-out 0.1s;
            user-select: none;
            white-space: nowrap;
        }

        .input {
            font-size: 12px;
            width: 100%;
            border: none;
            outline: none;
            color: var(--color);
            background-color: var(--bg);
        }
    }
    .toggle-type-button {
        align-items: center;
        flex: 0 0 auto;
        flex-direction: row;
        height: 100%;
        vertical-align: middle;
        background: transparent;
        color: var(--color);
        border: none;
        cursor: pointer;
        margin: 0;
    }
}