:root {
    --bg: #fff;
    --fg: rgba(240, 240, 240, 1);
    --border-grey: rgba(0, 0, 0, 0.1);
    --color: #000;
    --color-a: #f0a832;
    --footer-bg: #f0f0f080;
    --footer-color: rgba(0,0,0, .6);
    --player-tabs-bg: #151b1e;
    --player-tab-bg: #000;
    --player-tab-col: #fff;
    --player-tab-h-col: #232121;
    --player-tab-active-color: #2E2E2E;
    --theme-tumbler-col: rgba(240, 240, 240, 1);
    --mtd-col: rgba(0, 0, 0, 0.5);
    --navigator-border: rgba(0, 0, 0, 0.1);
    --navigator-link-bg: rgba(255, 255, 255, .6);
    --auth-pre-space-col: #dbdbdb;
    --auth-pre-content-col: #8e8e8e;

    --profile-tabs-border: #e5e8eb;
    --profile-tabs-tab: rgb(100, 109, 117);
    --profile-btn-color: #f0a832;
    --profile-btn-bg: #f0f0f0;

    --message-bg: #f0f0f0;
    --message-color: #f0a832;

    --filter-button-color: #151b1e;

    --year-button-color: #7d7d7d;

    --replied-message-background: rgba(220, 220, 220, 0.6);

    --go-down-icon-color: #333;
}

[data-theme='dark'] {
    --bg: #1e2122;
    --fg: #151b1e;
    --border-grey: #151b1e;
    --color: #fff;
    --color-a: #f0a832;
    --footer-bg: #1e2122;
    --footer-color: #fdfdfd52;
    --player-tabs-bg: #151b1e;
    --player-tab-bg: #000;
    --player-tab-col: #fff;
    --player-tab-h-col: #232121;
    --player-tab-active-color: #2E2E2E;
    --theme-tumbler-col: rgba(240, 240, 240, 1);
    --mtd-col: rgba(255, 255, 255, .3);
    --navigator-border: #7d7d7d5c;
    --navigator-link-bg: #1e2122;
    --auth-pre-space-col: #8e8e8e4d;
    --auth-pre-content-col: #8e8e8eb5;

    --profile-tabs-border: #2b2d32;
    --profile-tabs-tab: #595e63;
    --profile-btn-color: #f0a832;
    --profile-btn-bg: #151b1e;

    --message-bg: #2e3234;
    --message-color: #f0a832;

    --filter-button-color: rgba(255, 255, 255, .3);

    --year-button-color: #7d7d7d;
    --replied-message-background: rgba(0, 0, 0, 0.3);
    --go-down-icon-color: #fff;
}