.blurer {
    transition: 0.3s all ease;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: -1;
    &.active {
        opacity: 1;
        z-index: auto;
    }
}

.user-select-container {
    transition: 0.3s all ease;
    display: grid;
    width: 100%;
    padding: 1rem;
    position: relative;
    background: var(--fg);
    border-bottom: 1px solid var(--navigator-border);
    &.active {
        background: var(--bg);
        border-radius: 16px;
        border-color: transparent;

        .user-select-results {
            visibility: visible;
            opacity: 1;
        }

        .user-select-form {
            display: flex;
            gap: 0.5rem;

            svg {
                fill: var(--color);
            }
        }
    }

    .user-select-form {
        display: flex;

        svg {
            width: 22px;
            height: 22px;
            fill: #484848;
            transition: 0.2s all ease;
        }

        .user-select-input {
            min-height: 22px;
            background: transparent;
            border: none;
            outline: none;
            font-family: 'Roobert';
            width: 100%;
            color: #818281;
            transition: 0.2s all ease;

            &:focus {
                color: var(--color);
            }
        }
    }

    .user-select-results {
        position: absolute;
        bottom: calc(-40vh - 1rem);
        width: 100%;
        border-radius: 16px;
        height: 40vh;
        display: grid;
        background: var(--bg);
        visibility: hidden;
        transition: 0.3s all ease;
        opacity: 0;
        align-content: start;
        overflow: hidden;
        overflow-y: auto;

        .message-container {
            display: grid;
            height: 40vh;
            width: 100%;
            align-content: center;
            justify-items: center;
            gap: 1rem;
            font-size: 11px;
            text-align: center;
            svg {
                fill: var(--color);
                width: 32px;
                height: 32px;
            }
        }
        .user-select-item-container {
            width: 100%;
            .user-select-item {
                width: 100%;
                background: var(--bg);
                border: none;
                color: var(--color);
                font-family: 'Roobert';
                padding: 0.5rem;
                border-bottom: 1px solid var(--navigator-border);
                cursor: pointer;
                user-select: none;
    
                @media(hover: hover) {
                    &:hover {
                        border-right: 2px solid var(--color-a);
                    }
                }
    
                .user-information {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    font-style: italic;
                    font-size: 14px;
    
                    .user-avatar {
                        width: 24px;
                        height: 24px;
                        border-radius: 24px;
                    }
                }
            }
        }
    }
}