@font-face 
    font-family: Roobert
    src: url("./utils/Roobert-Regular.ttf")

@font-face 
    font-family: "GT America Mono" 
    src: url("./utils/GT-America-Regular.ttf")

$bg: #fff
$fg: rgba(240, 240, 240, 1)
$color: #000
$color_a: #f0a832

//resolutions

$mobile_res: 1100px

