:root 
    --bg: #fff
    --fg: rgba(240, 240, 240, 1)
    --border-grey: rgba(0, 0, 0, 0.1)
    --color: #000
    --color-a: #f0a832
    --footer-bg: #f0f0f080
    --footer-color: rgba(0,0,0, .6)
    --player-tabs-bg: #151b1e
    --player-tab-bg: #000
    --player-tab-col: #fff
    --player-tab-h-col: rgba(0,0,0, .2)
    --theme-tumbler-col:rgba(240, 240, 240, 1)

[data-theme='dark'] 
    --bg: #1e2122
    --fg: #151b1e
    --border-grey: #151b1e
    --color: #fff
    --color-a: #f0a832
    --footer-bg: #1e2122
    --footer-color: #fdfdfd52
    --player-tabs-bg: #151b1e
    --player-tab-bg: #000
    --player-tab-col: #fff
    --player-tab-h-col: rgba(0,0,0, .2)
    --theme-tumbler-col:rgba(240, 240, 240, 1)
