.home-section {
    .home-header {
        min-height: 40vh;
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;

        h1 {
            font-size: 58px;
            font-weight: 600;
            margin-bottom: 3rem;
        }

        p {
            font-size: 18px;
        }
    }

    .home-content {
        position: relative;
        min-height: 60vh;
        background: var(--fg);
        padding: 4rem 0;
    }
}

.load-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 0 auto;
    cursor: pointer;
    color: var(--bg);
    border: 2px solid var(--color);
    background-color: var(--color);
    border-radius: 100px;
    padding: 0 1.125rem;
    font-weight: 700;
    font-size: 13px;
    text-transform: capitalize;
    height: 2.875rem;
    font-family: Roobert;
    transition: 0.2s all ease;
    gap: 0.1rem;

    @media (hover: hover) {
        &:hover {
            background-color: transparent;
            color: var(--color);

            svg {
                fill: var(--color);
            }
        }
    }

    svg {
        transition: 0.2s all ease;
        height: 26px;
        fill: var(--bg);
    }
}

@media (max-width: 650px) {
    .home-section {
        .home-header {
            h1 {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 3rem;
                padding: 0 1rem;
            }

            p {
                font-size: 18px;
                margin-bottom: 1rem;
            }
        }
    }
}