.modal-container {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all linear;
    visibility: visible;
    z-index: 1001;
    &.inactive {
        visibility: hidden;
        opacity: 0;
    }
    .modal {
        transform: translateY(-200%);
        transition: transform 0.2s ease;
        &.active {
            transform: translateY(0);
        }
    }
}