
.Profile_section 
    height: auto !important
    .Profile_header 
        position: relative
        width: 100%
        margin-top: 5rem

        .Avatar_container 
            position: absolute
            top: 0 
            bottom: 0
            width: 100%

            display: flex
            align-items: center 

            .Line 
                width: 100%
                height: 2px 
                background: var(--fg)
            
            .Avatar 
                display: block
                border-radius: 50%

    .Profile_content
        background: var(--fg)
        min-height: 100vh
        padding: 64px 5rem 5rem 5rem

        .Content 
            .Profile_username 
                width: 100% 
                text-align: center
                margin-top: 1rem
                font-size: 20px

            .Profile_stats
                width: 100% 
                display: flex 
                justify-content: center
                padding: 2rem 0

                .Stats_container 
                    display: flex

                    .Stat
                        display: grid
                        text-align: center
                        span 
                            font-size: 10px

                    .Stat_separator 
                        margin: 0 1rem
                        width: 2px 
                        height: 100%
                        background: linear-gradient(90deg, rgb(240, 168, 50) 0%, rgb(255, 144, 93) 100%)

        .Content_body 
            display: grid

            .Opts_container
                display: flex

                .Border_spacer 
                    width: 45px
                    border-bottom: 2px solid #707a8394
                    margin-bottom: 10px

                .Opt 
                    color: #707a83
                    background: transparent
                    border: none
                    font-family: 'Roobert'
                    font-size: 16px
                    font-weight: bold
                    padding: .7
                    transition: .2s all ease
                    cursor: pointer

                    &.Last 
                        margin-top: 9px
                        width: 100%

                    .Border 
                        transition: .2s all ease
                        margin-top: 10px
                        border-bottom: 2px solid #707a8394

                    &.Active 
                        color: var(--color-a)

                        .Border 
                            border-bottom: 2px solid var(--color-a)
                    &.Default
                        padding: 0rem 0px 10px 0px

            .Tab_content 
                margin-top: 3rem

@media(max-width: 1500px)
    .Profile_section 

        .Profile_content
            .Content_body
                .WL_section  

                    .WL_container 
                        grid-template-columns: 50% 50%

@media(max-width: 1000px)
    .Profile_section 

        .Profile_content
            padding: 64px 1rem 1rem 1rem
            .Content_body 
                .Tab_content 
                    margin-top: 1rem

