.footer-container {
    background: var(--footer-bg);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
    &.primary {
        background: var(--fg);
    }

    .footer-header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        .logo-container {
            .logo {
                width: 100px;
                filter: drop-shadow(0 0.5rem 1.45rem #fce38991);
            }
        }

        .online {
            display: flex;
            align-items: center;
            gap: 5px;

            .online-light {
                width: 10px;
                height: 10px;
                background: #00fe00;
                border-radius: 50%;
            }

            .users-online {
                font-family: 'Roobert';
                font-size: 14px;
            }
        }
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1rem;
        justify-items: center;
        gap: 0.5rem 0;
        .footer-link {
            text-decoration: none;
            text-transform: capitalize;
            color: var(--footer-color);
            font-size: 14px;
            @media(hover: hover) {
                &:hover {
                    color: var(--color-a);
                }
            }
        }
    }
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.5rem;
    font-size: 10px;
    align-items: center;
    color: var(--footer-color);
}

@media (max-width: 1100px) {
    .footer-container {
        .footer-header {
            grid-template-columns: 1fr;
        }

        .footer-links {
            grid-template-columns: repeat(2, 1fr);
            .footer-link {
                font-size: 10px;
            }
        }
    }
}