.year-filter-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.year-input-container {
  display: flex;
  gap: 1rem;
}
.range-inputs-container {
  display: flex;
  gap: 0.5rem;
}
.year-sort-button {
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 8px;
  background: none;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  @media (hover: hover) {
    &:hover {
      background-color: rgba(240, 168, 50, 0.3);
    }
    &.inactive {
      &:hover {
        background-color: rgba(100, 100, 100, 0.3);
      }
    }
  }
  &.inactive {
    border-color: var(--mtd-col);
    .year-sort-icon {
      fill: var(--mtd-col);
    }
  }
  &.descendant, &.ascendant {
    border-color: var(--color-a);
    .year-sort-icon {
      fill: var(--color-a);
    }
  }
}

.year-input {
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 1px solid var(--mtd-col);
  border-radius: 8px;
  color: var(--color);
  width: 100%;
  padding: 0.5rem;
  transition: border 0.2s ease;
  &:focus {
    border-color: var(--color-a);
  }
  &.inactive {
    opacity: 0.5;
  }
}