.year-sort-button {
  min-width: 30px;
  min-height: 30px;
  border-radius: 8px;
  background: none;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.inactive {
    border-color: var(--year-button-color);
    .year-sort-icon {
      fill: var(--year-button-color);
    }
  }
  &.descendant, &.ascendant {
    border-color: var(--color-a);
    .year-sort-icon {
      fill: var(--color-a);
    }
  }
}

.year-input {
  background: none;
  outline: none;
  border: 1px solid var(--mtd-col);
  border-radius: 8px;
  color: var(--color);
  width: 100%;
  padding: 0 0.5rem;
  transition: border 0.2s ease;
  &:focus {
    border-color: var(--color-a);
  }
}