.year-sort-button {
  min-width: 30px;
  min-height: 30px;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--color-a);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.year-input {
  background: none;
  outline: none;
  border: 1px solid var(--mtd-col);
  border-radius: 8px;
  color: var(--color);
  width: 100%;
  padding: 0 0.5rem;
  transition: border 0.2s ease;
  &:focus {
    border-color: var(--color-a);
  }
}