
.Film_container 
    display: grid
    width: 100%
    border-radius: 17px
    background: var(--bg)
    transition: .2s all ease
    border: 1px solid rgba(0,0,0, .1)
    

    &:hover 
        transform: translateY(-20px)
        border-color: var(--color-a)
        box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.10)

        .Opts 
            .NT_btn 
                opacity: 1
        .Content_container
            .Picture 
                .Blurer 
                    backdrop-filter: blur(4px)
                    opacity: 1

    .Content_container

        .Picture
            border-top-right-radius: 16px
            border-top-left-radius: 16px
            width: 100% 
            position: relative
            
            .Img 
                width: 100% 
                height: 100%
                border-top-right-radius: 16px
                border-top-left-radius: 16px

            .Blurer 
                cursor: pointer
                position: absolute
                top: 0 
                bottom: 0 
                right: 0 
                left: 0 
                background: rgba(0,0,0, .4)
                border-top-right-radius: 16px
                border-top-left-radius: 16px
                transition: .2s all ease
                display: flex 
                justify-content: center 
                align-items: center
                opacity: 0

                svg 
                    display: block 

        .Content 
            padding: 1rem

            .Name 
                font-size: 18px
                font-weight: 500
            
            .Description
                color: #a6a6a6
                margin-top: .5rem
                font-size: 12px
    .Opts 
        display: flex
        justify-content: start
        align-items: end
        gap: .4rem
        padding: 0 1rem 1rem 1rem

        .NT_btn 
            background: var(--color)
            border: none 
            border-radius: 16px 
            padding: .3rem .4rem
            color: var(--bg)
            font-size: 10px
            font-family: 'Roobert'
            cursor: pointer
            transition: .2s all ease
            opacity: 0

            

@media(max-width: 650px)
    .Film_container 
        .Opts 
            display: none