.comments-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;
  .comments {
    border: 2px solid var(--fg);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}