.player-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1rem;
  overflow: hidden;
  color: var(--player-tab-col);

  .player {
    width: 100%;
    height: 329px;
    border: none;
  }

  .player-controllers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    background-color: var(--player-tabs-bg);
    overflow: hidden;
    width: 2.75rem;
    transition: width 0.2s ease;
    .full-size-only {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  .player-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--player-tabs-bg);
    transition: width 0.2s ease;
    width: 10rem;
    overflow: hidden;

    .change-player-container {
      width: 100%;
      overflow-y: scroll;
      height: 80%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .actions {
      display: flex;
      list-style: none;
      flex-direction: column;

      .action-container {
        border-top: 1px solid var(--player-tabs-bg);

        .action {
          width: 100%;
          padding: 12.8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--player-tab-bg);
          font-size: 12px;
          transition: background-color 0.2s ease;
          cursor: pointer;
          text-decoration: none;
          color: var(--player-tab-col);
          text-align: center;
          @media (hover: hover) {
            &:hover {
              background-color: var(--player-tab-h-col);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 901px) {
  .player-container {
    height: 329px;

    .player-controllers {
      height: 100%;
    }

    .player-sidebar {
      height: 100%;
    }
    .inactive {
      &.is-not-fixed {
        width: 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .player-container {
    flex-direction: column;
    .player-controllers {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        padding: 0.5rem;
    }
    .player-sidebar {
        width: 100%;
        height: fit-content;
    }
  }
}