
.Return_btn 
    position: absolute 
    z-index: 11
    margin-top: 5rem 
    margin-left: 5rem
    background: var(--color)
    color: var(--bg)
    display: flex
    border: none
    padding: .5rem 1rem
    border-radius: 22px
    align-items: center
    gap: .5rem
    cursor: pointer 
    font-size: 16px
    text-decoration: none
    transition: .2s all ease 

    &:hover 
        svg
            transform: translateX(-5px)

    svg 
        fill: var(--bg)
        width: 20px
        height: 20px
        transition: .2s all ease

.Navigator_container
    position: fixed 
    display: grid
    grid-template-columns: 70% 30%
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 999
    visibility: hidden

    &.Active
        .Blurer
            opacity: 1
            visibility: visible

        .Navigator_content 
            transform: translateX(0)
    .Blurer
        position: absolute
        height: 100%
        width: 100%
        background: rgba(0, 0, 0, .2)
        backdrop-filter: blur(4px)
        opacity: 0
        visibility: hidden
        transition: .2s all ease


    .Navigator_content
        right: 0
        transform: translateX(100%)
        background: var(--fg)
        transition: .2s all ease
        position: fixed
        top: 0
        right: 0
        height: 100%
        width: 30%
        display: grid
        align-content: space-between
        
        .Navigator_bottom
            padding: 1rem

            .Controlls 
                display: flex 
                justify-content: space-between


        .Navigator_main
            
            .HR 
                border-bottom: 1px solid var(--navigator-border)
                width: 100%

            .Navigator_header
                padding: 1rem
                display: flex
                justify-content: space-between

                .Btns_container 
                    display: flex
                    gap: 1rem
                        
                    .Auth_btn 
                        padding: .5rem 1rem
                        border: none
                        border-radius: 9px
                        transition: .2s all ease
                        cursor: pointer
                        font-size: 16px 
                        text-decoration: none

                    .Login_btn 
                        background: rgba(240,168,50,1)
                        color: var(--bg)

                        &:hover 
                            background: rgba(255,144,93,1)

                    .Reg_btn
                        background: transparent 
                        color: rgba(240,168,50,1)
                        border: 1px solid rgba(240,168,50,1)
                        
                        &:hover 
                            background: rgba(240,168,50,1)
                            color: var(--bg)

                .Header_account 

                    .Account_content
                        display: flex
                        align-items: center 
                        gap: .5rem
                         
                        a 
                            img 
                                border-radius: 50%
                                width: 30px 
                                height: 30px

                .Header_exec 
                    cursor: pointer
                    background: transparent 
                    border: none

                    &:hover 
                        svg 
                            transform: rotateZ(90deg)

                    svg 
                        transition: .2s all ease
                        width: 20px 
                        height: 20px
                        fill: var(--color)

            .Navigator_body

                .Navigator_link
                    display: block
                    padding: 1rem
                    transition: .2s all ease 
                    font-family: 'Roobert'
                    color: var(--color)
                    text-decoration: none
                    overflow: hidden

                    &:hover 
                        background: var(--navigator-link-bg)

                    &.Inactive 
                        height: 0
                        padding: 0
                        font-size: 0

                    
                    .Navigator_ex_header
                        .Navigator_ex_exec
                            overflow: hidden
                            transition: .2s all ease
                            border: none 

                            svg 
                                height: 0 
                                width: 0

                    .Navigator_ex_body 
                        width: 0 
                        height: 0 
                        transition: .2s all ease 
                        overflow: hidden


                    &.Navigator_link_ex
                        .Navigator_ex_header
                            display: flex
                            justify-content: space-between

                    &.Active 
                        &:hover 
                            background: transparent

                            .Navigator_ex_header

                                .Navigator_ex_title 
                                    .Underline 
                                        width: 100%


                        .Navigator_ex_header

                            .Navigator_ex_title 
                                font-size: 18px
                                font-style: italic
                                display: grid

                                .Underline 
                                    transition: .2s all ease
                                    width: 40%
                                    height: 1px 
                                    background: var(--color-a)
                            .Navigator_ex_exec
                                overflow: visible
                                cursor: pointer
                                background: transparent 
                                border: none

                                &:hover 
                                    svg 
                                        transform: rotateZ(90deg)

                                svg 
                                    transition: .2s all ease
                                    width: 14px 
                                    height: 14px
                                    fill: var(--color)

                        .Navigator_ex_body 
                            margin-top: 1.5rem
                            font-size: 12px
                            width: 100%
                            height: 100%
                            transition: .2s all ease 
                            overflow: auto 
                            max-height: calc(100vh - 62px - 23px - 6rem - 32px)
                            display: grid 

                            &::-webkit-scrollbar 
                                width: 3px

                            &::-webkit-scrollbar-track 
                                background: transparent
                            
                            &::-webkit-scrollbar-thumb 
                                background: var(--color-a)
                                border-radius: 3px

    &.Active
        visibility: visible
.Navbar_navigator 
    width: 100%
    color: var(--color)
    z-index: 20
    font-size: 14px
    transition: .3s all ease
    background: var(--fg)
    position: fixed
    transform: translateY(-100px) 
    top: 0
    padding: 1rem

    display: flex
    justify-content: center
    

    .Navigator_content 
        display: flex
        justify-content: space-evenly
        width: 100%

        .Navigator_links
            display: flex
            gap: .5rem

            .Navigator_link 

                &:hover 
                    a 
                        &::before
                            width: 100%
                            transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1)

                        &::after
                            width: 100%
                            background: transparent
                            transition: 0s
                a
                    position: relative
                    font-family: 'Roobert'
                    text-decoration: none 
                    color: var(--color)

                    &::before
                        content: ''
                        position: absolute
                        bottom: -0.2rem
                        width: 0
                        height: 0.1rem
                        background: var(--color-a)

                    &::after
                        content: ''
                        position: absolute
                        bottom: -0.2rem
                        width: 0
                        height: 0.1rem
                        background: var(--color-a)

                    &::before 
                        left: 0 
                    
                    &::after 
                        right: 0 
                        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
                

    &.Down 
        transform: translateY(0)



.Navbar
    z-index: 11 
    width: 100%
    transition: .2s all ease
    position: relative
    display: grid 
    grid-template-columns: 15% 70% 15%
    padding: 1.5rem

    .Navbar_promo
        display: flex
        align-items: center
        justify-content: space-between

        .Amber 
            display: flex
            align-items: end

            .Icon 
                margin-right: .3rem

            .Name 
                font-weight: 400
                font-size: 20px

        .Opts 
            position: relative
            display: flex
            justify-content: center 
            height: 100% 
            width: 100%

            a
                
                .Amber_logo 
                    width: 40px 
                    transition: .2s all ease 
                    opacity: .7
                    cursor: pointer
                    position: absolute
                    bottom: -.3rem

                    &:hover 
                        opacity: 1 
                        filter: drop-shadow(0 0.7rem 1.25rem #fce38991) 

        .Btns_container 
            display: flex
            gap: 1rem
                
            .Auth_btn 
                padding: .5rem 1rem
                border: none
                border-radius: 9px
                transition: .2s all ease
                cursor: pointer
                font-size: 16px 
                text-decoration: none

            .Login_btn 
                background: rgba(240,168,50,1)
                color: var(--bg)

                &:hover 
                    background: rgba(255,144,93,1)

            .Reg_btn
                background: transparent 
                color: rgba(240,168,50,1)
                border: 1px solid rgba(240,168,50,1)
                
                &:hover 
                    background: rgba(240,168,50,1)
                    color: var(--bg)


        .Burger_container 
            cursor: pointer
            position: relative
            display: grid
            background: transparent
            gap: 4px
            border: none
            transition: .2s all ease

            &:hover 
                .Line 
                    transform: translateX(-5px)

                    &.Middle
                        transform: translateX(5px)

            .Line 
                transition: .2s all ease
                width: 30px 
                height: 3px 
                background: var(--color)
                border-radius: 3px


@media(max-width: 1100px)
    .Return_btn 
        margin-left: 2rem 

    .Navbar 
        grid-template-columns: auto

        .Navbar_promo

            .Opts 
                display: none
    .Navigator_container

        .Navigator_content
            width: 50%

@media(max-width: 800px)

    .Navigator_container

        .Navigator_content
            width: 100%